#title {
    font-size: 32px !important;
}

#body {
    font-size: 20px !important;
}

.alert_card {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-size: 20px;
}

@media screen and (max-width: 1300px) {
    .fa-star {
        font-size: 10px;
    }
}

@media screen and (max-width: 992px) {
    .fa-star {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .fa-star {
        font-size: 20px;
    }
}

 