#title {
    font-size: 32px !important;
}

body {
    background-image: url("/img/cub.jpeg");
    background-position: center;
}

#mainBody {
    background-image: url("/img/cub.jpeg") !important;
    background-position: center !important;
}

#mainBody2 {
    background-image: url("/img/cub.jpeg") !important;
    background-position: top !important;
}

#mainBody3 {
    background-image: url("/img/cub.jpeg") !important;
    background-position: top !important;
}

.dropdown-content {
    z-index: 1000 !important;
}

#landing {
    background-image: url("/img/cub.jpeg");
    background-position: center;
}
#redOpaque {
    background-color: rgba(190, 0, 0, 0.9) !important;
}
#body {
    font-size: 20px !important;
}

.alert_card {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-size: 20px;
}

.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 300px; /* Changed this to accomodate content width */
    max-height: auto;
      margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
  }

@media screen and (max-width: 1300px) {
    .fa-star {
        font-size: 10px;
    }
}

@media screen and (max-width: 992px) {
    .fa-star {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .fa-star {
        font-size: 20px;
    }
}

 